/*** Сброс настроект ***/

.border { border: 2px solid #DDE1E4; }
/*** Разметка шапки ***/
header{
	width: 100%;
}
#shapka_all{
	margin: 0 auto;
	width: 55%;
	height: 135px;
	overflow: hidden;
	border-bottom: 2px solid #DDE1E4;
}
.inString{
	float: left;

}
	.logo{
		padding-top: 25px;
	}
	.address{
		padding-top: 25px;
		padding-left: 80px;
		text-align: center;
	}
		div.address>p{
			line-height: 1.9;
		}
	.records{
		padding-top: 20px;
		padding-left: 80px;
	}
		.records>p{
			text-align: center;
		}
		#bt_records{
			margin-top: 12px;
			width: 212px;
			height: 70px;
			font-size: 1.5em;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 2px;

		}
	nav{
		width: 100%;

	}
		.top_menu{
			margin:0 auto;
			width: 55%;
			overflow: hidden;
			border-bottom: 2px solid #DDE1E4;
		}
		.top_menu>li{
			float: left;
			text-transform: uppercase;
			padding:10px 25px;
		}
		.top_menu>li:hover{
			background-color: #C9DBE9;
		}